.BackgroundSystem
{
	background-image:url(webapp/defaultdesktop.png);
}

.qxAboutLogo
{
	background-image:url(startup/logo.png);
	background-repeat:no-repeat;
	background-position:center center;	
	background-size: 128px 128px;
	width: 128px;
	height: 128px;	
}

.qxIcon
{
	background-image:url(webapp/ico.png);
	background-repeat:no-repeat;
	background-position:center center;	
	background-size: 16px 16px;
	width: 16px;
	height: 16px;	
}

.mnu_preferences
{
	background-image:url(webapp/Preferences.png);
}

.attachment
{
	background-image:url(webapp/attachment.png);
	background-repeat:no-repeat;
	background-position:center center;	
	background-size: 16px 16px;
	width: 16px;
	height: 16px;
}

.icoDownload
{
	background-image:url(webapp/Download.png);
	background-repeat:no-repeat;
	background-position:center center;	
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
}

.icoUpload
{
	background-image:url(webapp/upload.png);
	background-repeat:no-repeat;
	background-position:center center;	
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
}

.green
{
	background-color: green;
	width: 100%;
}

.orange
{
	background-color: orange;
	width: 100%;
}

.red
{
	background-color: #FF0000;
	width: 100%;
}

.black
{
	background-color: black;
	width: 100%;
}

.grey
{
	background-color: #DDDDDD;
	width: 100%;
}