.BackgroundSystem
{
	background-image:url(webapp/defaultdesktop.png);
}

.qxAboutLogo
{
	background-image:url(startup/logo.png);
	background-repeat:no-repeat;
	background-position:center center;	
	background-size: 128px 128px;
	width: 128px;
	height: 128px;	
}

.qxIcon
{
	background-image:url(webapp/ico.png);
	background-repeat:no-repeat;
	background-position:center center;	
	background-size: 16px 16px;
	width: 16px;
	height: 16px;	
}

.mnu_preferences
{
	background-image:url(webapp/Preferences.png);
}

.attachment
{
	background-image:url(webapp/attachment.png);
	background-repeat:no-repeat;
	background-position:center center;	
	background-size: 16px 16px;
	width: 16px;
	height: 16px;
}

.icoDownload
{
	background-image:url(webapp/Download.png);
	background-repeat:no-repeat;
	background-position:center center;	
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
}

.icoUpload
{
	background-image:url(webapp/upload.png);
	background-repeat:no-repeat;
	background-position:center center;	
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
}

.green
{
	background-color: #99CC00 !important;
	width: 100%;
}

.orange
{
	background-color: #FF9900 !important;
	width: 100%;
}

.red
{
	background-color: #FF0000 !important;
	width: 100%;
}

.black
{
	background-color: #000000 !important;
	width: 100%;
}

.grey
{
	background-color: #C0C0C0 !important;
	width: 100%;
}

.add-marche
{
	background-image: url(webapp/add-marche.png);
}

.add-facture
{
	background-image: url(webapp/add-facture.png);
}